*.user
/.vs/
/MiKo.Analyzer/bin/
/MiKo.Analyzer/obj/
/MiKo.Analyzer.Tests/bin/
/MiKo.Analyzer.Tests/obj/
/MiKo.Analyzer.Vsix/bin/
/MiKo.Analyzer.Vsix/obj/
/_NCrunch_MiKo.Analyzer/
nCrunchTemp_*.csproj
