# NOTE: Requires **VS2019 16.3** or later

# MiKo Solution Rules
# Description: This rule set contains all rules. Running this rule set may result in a large number of warnings being reported. Use this rule set to get a comprehensive picture of all issues in your code. This can help you decide which of the more focused rule sets are most appropriate to run for your projects.

# Code files
[*.{cs,vb}]
charset = utf-8-bom
indent_style = space
indent_size = 4
max_line_length = 240
tab_width = 4

dotnet_sort_system_directives_first = true # `using System.*;` comes first.
dotnet_separate_import_directive_groups = true # we want separated using imports as those are easier to read
csharp_using_directive_placement = outside_namespace:warning

csharp_style_expression_bodied_methods = when_on_single_line            # Use expression body for methods (IDE0022)
csharp_style_expression_bodied_local_functions = when_on_single_line    # Use expression body for local functions (IDE0061)
csharp_indent_case_contents_when_block = false							# Formatting rule (IDE0055), see https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/csharp-formatting-options#csharp_indent_case_contents_when_block
csharp_style_expression_bodied_constructors = when_on_single_line       # Use expression body for constructors (IDE0021)
csharp_style_expression_bodied_operators = when_on_single_line          # Use expression body for operators (IDE0023 and IDE0024)

dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0010.severity = none # Add missing cases to switch statement (IDE0010)
dotnet_diagnostic.IDE0022.severity = none # Use expression body for methods (IDE0022)
dotnet_diagnostic.IDE0046.severity = none # Use conditional expression for return (IDE0046)
dotnet_diagnostic.IDE0055.severity = none # Formatting rule 
dotnet_diagnostic.IDE0058.severity = none # Remove unnecessary expression value (IDE0058)
dotnet_diagnostic.IDE0061.severity = none # Use expression body for local functions (IDE0061)

# Default severity for analyzer diagnostics - Requires **VS2019 16.5** or later
dotnet_analyzer_diagnostic.severity = warning

dotnet_diagnostic.CA1000.severity = error
dotnet_diagnostic.CA1001.severity = error
dotnet_diagnostic.CA1002.severity = error
dotnet_diagnostic.CA1003.severity = error
dotnet_diagnostic.CA1004.severity = error
dotnet_diagnostic.CA1005.severity = error
dotnet_diagnostic.CA1006.severity = error
dotnet_diagnostic.CA1007.severity = error
dotnet_diagnostic.CA1008.severity = error
dotnet_diagnostic.CA1009.severity = error
dotnet_diagnostic.CA1010.severity = error
dotnet_diagnostic.CA1011.severity = error
dotnet_diagnostic.CA1012.severity = error
dotnet_diagnostic.CA1013.severity = error
dotnet_diagnostic.CA1014.severity = error
dotnet_diagnostic.CA1016.severity = error
dotnet_diagnostic.CA1017.severity = error
dotnet_diagnostic.CA1018.severity = error
dotnet_diagnostic.CA1019.severity = error
dotnet_diagnostic.CA1020.severity = error
dotnet_diagnostic.CA1021.severity = error
dotnet_diagnostic.CA1023.severity = error
dotnet_diagnostic.CA1024.severity = error
dotnet_diagnostic.CA1025.severity = error
dotnet_diagnostic.CA1026.severity = error
dotnet_diagnostic.CA1027.severity = error
dotnet_diagnostic.CA1028.severity = error
dotnet_diagnostic.CA1030.severity = error
dotnet_diagnostic.CA1031.severity = error
dotnet_diagnostic.CA1032.severity = error
dotnet_diagnostic.CA1033.severity = error
dotnet_diagnostic.CA1034.severity = error
dotnet_diagnostic.CA1035.severity = error
dotnet_diagnostic.CA1036.severity = error
dotnet_diagnostic.CA1038.severity = error
dotnet_diagnostic.CA1039.severity = error
dotnet_diagnostic.CA1040.severity = error
dotnet_diagnostic.CA1041.severity = error
dotnet_diagnostic.CA1043.severity = error
dotnet_diagnostic.CA1044.severity = error
dotnet_diagnostic.CA1045.severity = error
dotnet_diagnostic.CA1046.severity = error
dotnet_diagnostic.CA1047.severity = error
dotnet_diagnostic.CA1048.severity = error
dotnet_diagnostic.CA1049.severity = error
dotnet_diagnostic.CA1050.severity = error
dotnet_diagnostic.CA1051.severity = error
dotnet_diagnostic.CA1052.severity = error
dotnet_diagnostic.CA1053.severity = error
dotnet_diagnostic.CA1054.severity = error
dotnet_diagnostic.CA1055.severity = error
dotnet_diagnostic.CA1056.severity = error
dotnet_diagnostic.CA1057.severity = error
dotnet_diagnostic.CA1058.severity = error
dotnet_diagnostic.CA1059.severity = error
dotnet_diagnostic.CA1060.severity = error
dotnet_diagnostic.CA1061.severity = error
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1063.severity = error
dotnet_diagnostic.CA1064.severity = error
dotnet_diagnostic.CA1065.severity = error
dotnet_diagnostic.CA1300.severity = error
dotnet_diagnostic.CA1301.severity = error
dotnet_diagnostic.CA1302.severity = error
dotnet_diagnostic.CA1303.severity = error
dotnet_diagnostic.CA1304.severity = error
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1306.severity = error
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA1308.severity = error
dotnet_diagnostic.CA1309.severity = error
dotnet_diagnostic.CA1400.severity = error
dotnet_diagnostic.CA1401.severity = error
dotnet_diagnostic.CA1402.severity = error
dotnet_diagnostic.CA1403.severity = error
dotnet_diagnostic.CA1404.severity = error
dotnet_diagnostic.CA1405.severity = error
dotnet_diagnostic.CA1406.severity = error
dotnet_diagnostic.CA1407.severity = error
dotnet_diagnostic.CA1408.severity = error
dotnet_diagnostic.CA1409.severity = error
dotnet_diagnostic.CA1410.severity = error
dotnet_diagnostic.CA1411.severity = error
dotnet_diagnostic.CA1412.severity = error
dotnet_diagnostic.CA1413.severity = error
dotnet_diagnostic.CA1414.severity = error
dotnet_diagnostic.CA1415.severity = error
dotnet_diagnostic.CA1500.severity = error
dotnet_diagnostic.CA1501.severity = none
dotnet_diagnostic.CA1502.severity = error
dotnet_diagnostic.CA1504.severity = error
dotnet_diagnostic.CA1505.severity = error
dotnet_diagnostic.CA1506.severity = error
dotnet_diagnostic.CA1600.severity = error
dotnet_diagnostic.CA1601.severity = error
dotnet_diagnostic.CA1700.severity = error
dotnet_diagnostic.CA1701.severity = error
dotnet_diagnostic.CA1702.severity = error
dotnet_diagnostic.CA1703.severity = error
dotnet_diagnostic.CA1704.severity = error
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1708.severity = error
dotnet_diagnostic.CA1709.severity = error
dotnet_diagnostic.CA1710.severity = error
dotnet_diagnostic.CA1711.severity = error
dotnet_diagnostic.CA1712.severity = error
dotnet_diagnostic.CA1713.severity = error
dotnet_diagnostic.CA1714.severity = error
dotnet_diagnostic.CA1715.severity = error
dotnet_diagnostic.CA1716.severity = error
dotnet_diagnostic.CA1717.severity = error
dotnet_diagnostic.CA1719.severity = error
dotnet_diagnostic.CA1720.severity = error
dotnet_diagnostic.CA1721.severity = error
dotnet_diagnostic.CA1722.severity = error
dotnet_diagnostic.CA1724.severity = error
dotnet_diagnostic.CA1725.severity = error
dotnet_diagnostic.CA1726.severity = error
dotnet_diagnostic.CA1800.severity = error
dotnet_diagnostic.CA1801.severity = error
dotnet_diagnostic.CA1802.severity = error
dotnet_diagnostic.CA1804.severity = error
dotnet_diagnostic.CA1806.severity = error
dotnet_diagnostic.CA1809.severity = error
dotnet_diagnostic.CA1810.severity = error
dotnet_diagnostic.CA1811.severity = error
dotnet_diagnostic.CA1812.severity = error
dotnet_diagnostic.CA1813.severity = error
dotnet_diagnostic.CA1814.severity = error
dotnet_diagnostic.CA1815.severity = error
dotnet_diagnostic.CA1816.severity = error
dotnet_diagnostic.CA1819.severity = error
dotnet_diagnostic.CA1820.severity = error
dotnet_diagnostic.CA1821.severity = error
dotnet_diagnostic.CA1822.severity = error
dotnet_diagnostic.CA1823.severity = error
dotnet_diagnostic.CA1824.severity = error
dotnet_diagnostic.CA1900.severity = error
dotnet_diagnostic.CA1901.severity = error
dotnet_diagnostic.CA1903.severity = error
dotnet_diagnostic.CA2000.severity = error
dotnet_diagnostic.CA2001.severity = error
dotnet_diagnostic.CA2002.severity = error
dotnet_diagnostic.CA2003.severity = error
dotnet_diagnostic.CA2004.severity = error
dotnet_diagnostic.CA2006.severity = error
dotnet_diagnostic.CA2100.severity = error
dotnet_diagnostic.CA2101.severity = error
dotnet_diagnostic.CA2102.severity = error
dotnet_diagnostic.CA2103.severity = error
dotnet_diagnostic.CA2104.severity = error
dotnet_diagnostic.CA2105.severity = error
dotnet_diagnostic.CA2106.severity = error
dotnet_diagnostic.CA2107.severity = error
dotnet_diagnostic.CA2108.severity = error
dotnet_diagnostic.CA2109.severity = error
dotnet_diagnostic.CA2111.severity = error
dotnet_diagnostic.CA2112.severity = error
dotnet_diagnostic.CA2114.severity = error
dotnet_diagnostic.CA2115.severity = error
dotnet_diagnostic.CA2116.severity = error
dotnet_diagnostic.CA2117.severity = error
dotnet_diagnostic.CA2118.severity = error
dotnet_diagnostic.CA2119.severity = error
dotnet_diagnostic.CA2120.severity = error
dotnet_diagnostic.CA2121.severity = error
dotnet_diagnostic.CA2122.severity = error
dotnet_diagnostic.CA2123.severity = error
dotnet_diagnostic.CA2124.severity = error
dotnet_diagnostic.CA2126.severity = error
dotnet_diagnostic.CA2130.severity = error
dotnet_diagnostic.CA2131.severity = error
dotnet_diagnostic.CA2132.severity = error
dotnet_diagnostic.CA2133.severity = error
dotnet_diagnostic.CA2134.severity = error
dotnet_diagnostic.CA2135.severity = error
dotnet_diagnostic.CA2136.severity = error
dotnet_diagnostic.CA2137.severity = error
dotnet_diagnostic.CA2138.severity = error
dotnet_diagnostic.CA2139.severity = error
dotnet_diagnostic.CA2140.severity = error
dotnet_diagnostic.CA2141.severity = error
dotnet_diagnostic.CA2142.severity = error
dotnet_diagnostic.CA2143.severity = error
dotnet_diagnostic.CA2144.severity = error
dotnet_diagnostic.CA2145.severity = error
dotnet_diagnostic.CA2146.severity = error
dotnet_diagnostic.CA2147.severity = error
dotnet_diagnostic.CA2149.severity = error
dotnet_diagnostic.CA2151.severity = error
dotnet_diagnostic.CA2200.severity = error
dotnet_diagnostic.CA2201.severity = error
dotnet_diagnostic.CA2202.severity = error
dotnet_diagnostic.CA2204.severity = error
dotnet_diagnostic.CA2205.severity = error
dotnet_diagnostic.CA2207.severity = error
dotnet_diagnostic.CA2208.severity = error
dotnet_diagnostic.CA2210.severity = error
dotnet_diagnostic.CA2211.severity = error
dotnet_diagnostic.CA2212.severity = error
dotnet_diagnostic.CA2213.severity = error
dotnet_diagnostic.CA2214.severity = error
dotnet_diagnostic.CA2215.severity = error
dotnet_diagnostic.CA2216.severity = error
dotnet_diagnostic.CA2217.severity = error
dotnet_diagnostic.CA2218.severity = error
dotnet_diagnostic.CA2219.severity = error
dotnet_diagnostic.CA2220.severity = error
dotnet_diagnostic.CA2221.severity = error
dotnet_diagnostic.CA2222.severity = error
dotnet_diagnostic.CA2223.severity = error
dotnet_diagnostic.CA2224.severity = error
dotnet_diagnostic.CA2225.severity = error
dotnet_diagnostic.CA2226.severity = error
dotnet_diagnostic.CA2227.severity = error
dotnet_diagnostic.CA2228.severity = error
dotnet_diagnostic.CA2229.severity = error
dotnet_diagnostic.CA2230.severity = error
dotnet_diagnostic.CA2231.severity = error
dotnet_diagnostic.CA2232.severity = error
dotnet_diagnostic.CA2233.severity = error
dotnet_diagnostic.CA2234.severity = error
dotnet_diagnostic.CA2235.severity = error
dotnet_diagnostic.CA2236.severity = error
dotnet_diagnostic.CA2237.severity = error
dotnet_diagnostic.CA2238.severity = error
dotnet_diagnostic.CA2239.severity = error
dotnet_diagnostic.CA2240.severity = error
dotnet_diagnostic.CA2241.severity = error
dotnet_diagnostic.CA2242.severity = error
dotnet_diagnostic.CA2243.severity = error
dotnet_diagnostic.CA5122.severity = error

dotnet_diagnostic.CS0028.severity = error
dotnet_diagnostic.CS0067.severity = error
dotnet_diagnostic.CS0078.severity = error
dotnet_diagnostic.CS0105.severity = error
dotnet_diagnostic.CS0108.severity = error
dotnet_diagnostic.CS0109.severity = error
dotnet_diagnostic.CS0114.severity = error
dotnet_diagnostic.CS0162.severity = error
dotnet_diagnostic.CS0164.severity = error
dotnet_diagnostic.CS0168.severity = error
dotnet_diagnostic.CS0183.severity = error
dotnet_diagnostic.CS0184.severity = error
dotnet_diagnostic.CS0197.severity = error
dotnet_diagnostic.CS0219.severity = error
dotnet_diagnostic.CS0251.severity = error
dotnet_diagnostic.CS0252.severity = error
dotnet_diagnostic.CS0253.severity = error
dotnet_diagnostic.CS0278.severity = error
dotnet_diagnostic.CS0279.severity = error
dotnet_diagnostic.CS0280.severity = error
dotnet_diagnostic.CS0282.severity = error
dotnet_diagnostic.CS0402.severity = error
dotnet_diagnostic.CS0419.severity = error
dotnet_diagnostic.CS0420.severity = error
dotnet_diagnostic.CS0435.severity = error
dotnet_diagnostic.CS0436.severity = error
dotnet_diagnostic.CS0437.severity = error
dotnet_diagnostic.CS0440.severity = error
dotnet_diagnostic.CS0458.severity = error
dotnet_diagnostic.CS0464.severity = error
dotnet_diagnostic.CS0465.severity = error
dotnet_diagnostic.CS0469.severity = error
dotnet_diagnostic.CS0472.severity = error
dotnet_diagnostic.CS0473.severity = error
dotnet_diagnostic.CS0612.severity = error
dotnet_diagnostic.CS0618.severity = error
dotnet_diagnostic.CS0626.severity = error
dotnet_diagnostic.CS0628.severity = error
dotnet_diagnostic.CS0642.severity = error
dotnet_diagnostic.CS0652.severity = error
dotnet_diagnostic.CS0657.severity = error
dotnet_diagnostic.CS0658.severity = error
dotnet_diagnostic.CS0659.severity = error
dotnet_diagnostic.CS0660.severity = error
dotnet_diagnostic.CS0661.severity = error
dotnet_diagnostic.CS0665.severity = error
dotnet_diagnostic.CS0672.severity = error
dotnet_diagnostic.CS0675.severity = error
dotnet_diagnostic.CS0684.severity = error
dotnet_diagnostic.CS0693.severity = error
dotnet_diagnostic.CS0728.severity = error
dotnet_diagnostic.CS0809.severity = error
dotnet_diagnostic.CS0811.severity = error
dotnet_diagnostic.CS0824.severity = error
dotnet_diagnostic.CS1030.severity = error
dotnet_diagnostic.CS1058.severity = error
dotnet_diagnostic.CS1062.severity = error
dotnet_diagnostic.CS1064.severity = error
dotnet_diagnostic.CS1066.severity = error
dotnet_diagnostic.CS1072.severity = error
dotnet_diagnostic.CS1522.severity = error
dotnet_diagnostic.CS1570.severity = error
dotnet_diagnostic.CS1571.severity = error
dotnet_diagnostic.CS1572.severity = error
dotnet_diagnostic.CS1573.severity = error
dotnet_diagnostic.CS1574.severity = error
dotnet_diagnostic.CS1580.severity = error
dotnet_diagnostic.CS1581.severity = error
dotnet_diagnostic.CS1584.severity = error
dotnet_diagnostic.CS1587.severity = error
dotnet_diagnostic.CS1589.severity = error
dotnet_diagnostic.CS1590.severity = error
dotnet_diagnostic.CS1591.severity = error
dotnet_diagnostic.CS1592.severity = error
dotnet_diagnostic.CS1616.severity = error
dotnet_diagnostic.CS1633.severity = error
dotnet_diagnostic.CS1634.severity = error
dotnet_diagnostic.CS1635.severity = error
dotnet_diagnostic.CS1645.severity = error
dotnet_diagnostic.CS1658.severity = error
dotnet_diagnostic.CS1668.severity = error
dotnet_diagnostic.CS1685.severity = error
dotnet_diagnostic.CS1687.severity = error
dotnet_diagnostic.CS1690.severity = error
dotnet_diagnostic.CS1692.severity = error
dotnet_diagnostic.CS1695.severity = error
dotnet_diagnostic.CS1696.severity = error
dotnet_diagnostic.CS1697.severity = error
dotnet_diagnostic.CS1700.severity = error
dotnet_diagnostic.CS1701.severity = error
dotnet_diagnostic.CS1702.severity = error
dotnet_diagnostic.CS1710.severity = error
dotnet_diagnostic.CS1711.severity = error
dotnet_diagnostic.CS1712.severity = error
dotnet_diagnostic.CS1717.severity = error
dotnet_diagnostic.CS1718.severity = error
dotnet_diagnostic.CS1720.severity = error
dotnet_diagnostic.CS1723.severity = error
dotnet_diagnostic.CS1734.severity = error
dotnet_diagnostic.CS1735.severity = error
dotnet_diagnostic.CS1762.severity = error
dotnet_diagnostic.CS1927.severity = error
dotnet_diagnostic.CS1956.severity = error
dotnet_diagnostic.CS1957.severity = error
dotnet_diagnostic.CS1974.severity = error
dotnet_diagnostic.CS1981.severity = error
dotnet_diagnostic.CS1998.severity = error
dotnet_diagnostic.CS2002.severity = error
dotnet_diagnostic.CS2008.severity = error
dotnet_diagnostic.CS2023.severity = error
dotnet_diagnostic.CS2029.severity = error
dotnet_diagnostic.CS2038.severity = error
dotnet_diagnostic.CS3000.severity = error
dotnet_diagnostic.CS3001.severity = error
dotnet_diagnostic.CS3002.severity = error
dotnet_diagnostic.CS3003.severity = error
dotnet_diagnostic.CS3005.severity = error
dotnet_diagnostic.CS3006.severity = error
dotnet_diagnostic.CS3007.severity = error
dotnet_diagnostic.CS3008.severity = error
dotnet_diagnostic.CS3009.severity = error
dotnet_diagnostic.CS3010.severity = error
dotnet_diagnostic.CS3011.severity = error
dotnet_diagnostic.CS3012.severity = error
dotnet_diagnostic.CS3013.severity = error
dotnet_diagnostic.CS3014.severity = error
dotnet_diagnostic.CS3015.severity = error
dotnet_diagnostic.CS3016.severity = error
dotnet_diagnostic.CS3017.severity = error
dotnet_diagnostic.CS3018.severity = error
dotnet_diagnostic.CS3019.severity = error
dotnet_diagnostic.CS3021.severity = error
dotnet_diagnostic.CS3022.severity = error
dotnet_diagnostic.CS3023.severity = error
dotnet_diagnostic.CS3024.severity = error
dotnet_diagnostic.CS3026.severity = error
dotnet_diagnostic.CS3027.severity = error
dotnet_diagnostic.CS4014.severity = error
dotnet_diagnostic.CS4024.severity = error
dotnet_diagnostic.CS4025.severity = error
dotnet_diagnostic.CS4026.severity = error
dotnet_diagnostic.CS7022.severity = error
dotnet_diagnostic.CS7033.severity = error
dotnet_diagnostic.CS7035.severity = error
dotnet_diagnostic.CS7080.severity = error
dotnet_diagnostic.CS7081.severity = error
dotnet_diagnostic.CS7082.severity = error
dotnet_diagnostic.CS7090.severity = error
dotnet_diagnostic.CS7095.severity = error
dotnet_diagnostic.CS8001.severity = error
dotnet_diagnostic.CS8002.severity = error
dotnet_diagnostic.CS8009.severity = error
dotnet_diagnostic.CS8012.severity = error
dotnet_diagnostic.CS8018.severity = error
dotnet_diagnostic.CS8019.severity = none
dotnet_diagnostic.CS8020.severity = error
dotnet_diagnostic.CS8021.severity = error
dotnet_diagnostic.CS8029.severity = error
dotnet_diagnostic.CS8032.severity = error
dotnet_diagnostic.CS8033.severity = error
dotnet_diagnostic.CS8034.severity = error
dotnet_diagnostic.CS8040.severity = error
dotnet_diagnostic.CS8073.severity = error
dotnet_diagnostic.CS8094.severity = error

dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA0002.severity = error
dotnet_diagnostic.SA1000.severity = error
dotnet_diagnostic.SA1001.severity = error
dotnet_diagnostic.SA1002.severity = error
dotnet_diagnostic.SA1003.severity = error
dotnet_diagnostic.SA1004.severity = error
dotnet_diagnostic.SA1005.severity = error
dotnet_diagnostic.SA1006.severity = error
dotnet_diagnostic.SA1007.severity = error
dotnet_diagnostic.SA1008.severity = error
dotnet_diagnostic.SA1009.severity = error
dotnet_diagnostic.SA1010.severity = error
dotnet_diagnostic.SA1011.severity = error
dotnet_diagnostic.SA1012.severity = error
dotnet_diagnostic.SA1013.severity = error
dotnet_diagnostic.SA1014.severity = error
dotnet_diagnostic.SA1015.severity = error
dotnet_diagnostic.SA1016.severity = error
dotnet_diagnostic.SA1017.severity = error
dotnet_diagnostic.SA1018.severity = error
dotnet_diagnostic.SA1019.severity = error
dotnet_diagnostic.SA1020.severity = error
dotnet_diagnostic.SA1021.severity = error
dotnet_diagnostic.SA1022.severity = error
dotnet_diagnostic.SA1023.severity = error
dotnet_diagnostic.SA1024.severity = error
dotnet_diagnostic.SA1025.severity = error
dotnet_diagnostic.SA1026.severity = error
dotnet_diagnostic.SA1027.severity = error
dotnet_diagnostic.SA1028.severity = error
dotnet_diagnostic.SA1100.severity = error
dotnet_diagnostic.SA1101.severity = silent
dotnet_diagnostic.SA1102.severity = error
dotnet_diagnostic.SA1103.severity = error
dotnet_diagnostic.SA1104.severity = error
dotnet_diagnostic.SA1105.severity = error
dotnet_diagnostic.SA1106.severity = error
dotnet_diagnostic.SA1107.severity = error
dotnet_diagnostic.SA1108.severity = silent
dotnet_diagnostic.SA1109.severity = error
dotnet_diagnostic.SA1110.severity = error
dotnet_diagnostic.SA1111.severity = error
dotnet_diagnostic.SA1112.severity = error
dotnet_diagnostic.SA1113.severity = error
dotnet_diagnostic.SA1114.severity = error
dotnet_diagnostic.SA1115.severity = error
dotnet_diagnostic.SA1116.severity = error
dotnet_diagnostic.SA1117.severity = error
dotnet_diagnostic.SA1118.severity = error
dotnet_diagnostic.SA1119.severity = error
dotnet_diagnostic.SA1120.severity = error
dotnet_diagnostic.SA1121.severity = error
dotnet_diagnostic.SA1122.severity = error
dotnet_diagnostic.SA1123.severity = error
dotnet_diagnostic.SA1124.severity = error
dotnet_diagnostic.SA1125.severity = error
dotnet_diagnostic.SA1127.severity = silent
dotnet_diagnostic.SA1128.severity = silent
dotnet_diagnostic.SA1129.severity = error
dotnet_diagnostic.SA1130.severity = error
dotnet_diagnostic.SA1131.severity = error
dotnet_diagnostic.SA1132.severity = error
dotnet_diagnostic.SA1133.severity = silent
dotnet_diagnostic.SA1134.severity = silent
dotnet_diagnostic.SA1135.severity = error
dotnet_diagnostic.SA1136.severity = error
dotnet_diagnostic.SA1137.severity = error
dotnet_diagnostic.SA1139.severity = error
dotnet_diagnostic.SA1200.severity = error
dotnet_diagnostic.SA1201.severity = error
dotnet_diagnostic.SA1202.severity = error
dotnet_diagnostic.SA1203.severity = error
dotnet_diagnostic.SA1204.severity = error
dotnet_diagnostic.SA1205.severity = error
dotnet_diagnostic.SA1206.severity = error
dotnet_diagnostic.SA1207.severity = error
dotnet_diagnostic.SA1208.severity = error
dotnet_diagnostic.SA1209.severity = error
dotnet_diagnostic.SA1210.severity = error
dotnet_diagnostic.SA1211.severity = error
dotnet_diagnostic.SA1212.severity = error
dotnet_diagnostic.SA1213.severity = error
dotnet_diagnostic.SA1214.severity = error
dotnet_diagnostic.SA1215.severity = error
dotnet_diagnostic.SA1216.severity = error
dotnet_diagnostic.SA1217.severity = error
dotnet_diagnostic.SA1300.severity = error
dotnet_diagnostic.SA1301.severity = error
dotnet_diagnostic.SA1302.severity = error
dotnet_diagnostic.SA1303.severity = error
dotnet_diagnostic.SA1304.severity = error
dotnet_diagnostic.SA1305.severity = error
dotnet_diagnostic.SA1306.severity = error
dotnet_diagnostic.SA1307.severity = error
dotnet_diagnostic.SA1308.severity = silent
dotnet_diagnostic.SA1309.severity = error
dotnet_diagnostic.SA1310.severity = error
dotnet_diagnostic.SA1311.severity = error
dotnet_diagnostic.SA1312.severity = error
dotnet_diagnostic.SA1313.severity = error
dotnet_diagnostic.SA1314.severity = error
dotnet_diagnostic.SA1400.severity = error
dotnet_diagnostic.SA1401.severity = error
dotnet_diagnostic.SA1402.severity = error
dotnet_diagnostic.SA1403.severity = error
dotnet_diagnostic.SA1404.severity = error
dotnet_diagnostic.SA1405.severity = error
dotnet_diagnostic.SA1406.severity = error
dotnet_diagnostic.SA1407.severity = error
dotnet_diagnostic.SA1408.severity = error
dotnet_diagnostic.SA1409.severity = error
dotnet_diagnostic.SA1410.severity = error
dotnet_diagnostic.SA1411.severity = error
dotnet_diagnostic.SA1412.severity = error
dotnet_diagnostic.SA1413.severity = error
dotnet_diagnostic.SA1500.severity = error
dotnet_diagnostic.SA1501.severity = error
dotnet_diagnostic.SA1502.severity = error
dotnet_diagnostic.SA1503.severity = error
dotnet_diagnostic.SA1504.severity = error
dotnet_diagnostic.SA1505.severity = error
dotnet_diagnostic.SA1506.severity = error
dotnet_diagnostic.SA1507.severity = error
dotnet_diagnostic.SA1508.severity = error
dotnet_diagnostic.SA1509.severity = error
dotnet_diagnostic.SA1510.severity = error
dotnet_diagnostic.SA1511.severity = error
dotnet_diagnostic.SA1512.severity = error
dotnet_diagnostic.SA1513.severity = error
dotnet_diagnostic.SA1514.severity = error
dotnet_diagnostic.SA1515.severity = error
dotnet_diagnostic.SA1516.severity = error
dotnet_diagnostic.SA1517.severity = error
dotnet_diagnostic.SA1518.severity = error
dotnet_diagnostic.SA1519.severity = error
dotnet_diagnostic.SA1520.severity = error
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1601.severity = error
dotnet_diagnostic.SA1602.severity = error
dotnet_diagnostic.SA1603.severity = error
dotnet_diagnostic.SA1604.severity = error
dotnet_diagnostic.SA1605.severity = error
dotnet_diagnostic.SA1606.severity = error
dotnet_diagnostic.SA1607.severity = error
dotnet_diagnostic.SA1608.severity = error
dotnet_diagnostic.SA1609.severity = error
dotnet_diagnostic.SA1610.severity = error
dotnet_diagnostic.SA1611.severity = error
dotnet_diagnostic.SA1612.severity = error
dotnet_diagnostic.SA1613.severity = error
dotnet_diagnostic.SA1614.severity = error
dotnet_diagnostic.SA1615.severity = error
dotnet_diagnostic.SA1616.severity = error
dotnet_diagnostic.SA1617.severity = error
dotnet_diagnostic.SA1618.severity = error
dotnet_diagnostic.SA1619.severity = error
dotnet_diagnostic.SA1620.severity = error
dotnet_diagnostic.SA1621.severity = error
dotnet_diagnostic.SA1622.severity = error
dotnet_diagnostic.SA1623.severity = error
dotnet_diagnostic.SA1624.severity = error
dotnet_diagnostic.SA1625.severity = error
dotnet_diagnostic.SA1626.severity = error
dotnet_diagnostic.SA1627.severity = error
dotnet_diagnostic.SA1628.severity = error
dotnet_diagnostic.SA1629.severity = error
dotnet_diagnostic.SA1630.severity = error
dotnet_diagnostic.SA1631.severity = error
dotnet_diagnostic.SA1632.severity = error
dotnet_diagnostic.SA1633.severity = silent
dotnet_diagnostic.SA1634.severity = error
dotnet_diagnostic.SA1635.severity = error
dotnet_diagnostic.SA1636.severity = error
dotnet_diagnostic.SA1637.severity = error
dotnet_diagnostic.SA1638.severity = error
dotnet_diagnostic.SA1639.severity = error
dotnet_diagnostic.SA1640.severity = error
dotnet_diagnostic.SA1641.severity = error
dotnet_diagnostic.SA1642.severity = error
dotnet_diagnostic.SA1643.severity = error
dotnet_diagnostic.SA1644.severity = error
dotnet_diagnostic.SA1645.severity = error
dotnet_diagnostic.SA1646.severity = error
dotnet_diagnostic.SA1647.severity = error
dotnet_diagnostic.SA1648.severity = error
dotnet_diagnostic.SA1649.severity = error
dotnet_diagnostic.SA1650.severity = error
dotnet_diagnostic.SA1651.severity = error

dotnet_diagnostic.SX1101.severity = silent
dotnet_diagnostic.SX1309.severity = silent
dotnet_diagnostic.SX1309S.severity = silent
